<%= content_for :title, "Tool" %>

<div class="map__container">
  <div data-country-bounds="<%= @current_country.bounds.to_json %>" data-country-iso="<%= @current_country.iso %>" id="map"></div>

  <div class="map__disclaimer">
    <%= t('analysis.map_disclaimer') %>
  </div>
</div>
<aside id="sidebar">
  <div id="sidebar-content"></div>

  <%= render "shared/methodology_link_paragraph" %>
</div>