<h1>Edit validation</h1>

<form id="edit-validation" name="validation">
  <div class="field">
    <label for="coodinates"> coodinates:</label>
    <input type="text" name="coodinates" id="coodinates" value="<%= coodinates %>" >
  </div>

  <div class="field">
    <label for="action"> action:</label>
    <input type="text" name="action" id="action" value="<%= action %>" >
  </div>

  <div class="field">
    <label for="recorded_at"> recorded_at:</label>
    <input type="text" name="recorded_at" id="recorded_at" value="<%= recorded_at %>" >
  </div>

  <div class="field">
    <label for="area_id"> area_id:</label>
    <input type="text" name="area_id" id="area_id" value="<%= area_id %>" >
  </div>

  <div class="field">
    <label for="integer"> integer:</label>
    <input type="text" name="integer" id="integer" value="<%= integer %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Validation" />
  </div>

</form>

<a href="#/index">Back</a>