<div id="map"></div>

<div id="sidebar" class="shadow">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h5>Edit habitat area</h5>

        <form id="edit-validation" name="validation">
          <div class="form-inputs">
            <div class="control-group hidden">
              <div class="controls">
                <input class="hidden" type="hidden" name="coordinates" id="coordinates" value="<%= validation.coordinates %>">
              </div>
            </div>

            <div class="control-group hidden">
              <div class="controls">
                <input class="hidden" type="hidden" name="action" id="action" value="<%= validation.action %>">
              </div>
            </div>

            <div id="control-group-action" class="control-group btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn btn-primary" data-action="validate">Validate</button>
              <button type="button" class="btn btn-primary" data-action="add">Add</button>
              <button type="button" class="btn btn-primary" data-action="delete">Clear</button>
            </div>

            <div class="control-group recorded_at">
              <label class="control-label" for="recorded_at">Recorded at</label>
              <div class="controls row">
                <div class="span1">
                  <input class="span1" type="number" name="recorded_at(1i)" value="2012">
                </div>
                <div class="span2">
                  <input class="span2" type="number" name="recorded_at(2i)" value="12">
                </div>
                <div class="span1">
                  <input class="span1" type="number" name="recorded_at(3i)" value="12">
                </div>
              </div>
            </div>

            <div class="control-group habitat">
              <label class="control-label" for="habitat">Habitat</label>
              <div class="controls">
                <select class="span3" name="habitat" id="habitat">
                  <option value=""></option>
                  <option value="mangrove"<% if("mangrove" == validation.habitat) { %> selected="selected"<% } %>>Mangrove</option>
                  <option value="seagrass"<% if("seagrass" == validation.habitat) { %> selected="selected"<% } %>>Seagrass</option>
                  <option value="sabkha"<% if("sabkha" == validation.habitat) { %> selected="selected"<% } %>>Sabkha</option>
                  <option value="salt_marsh"<% if("salt_marsh" == validation.habitat) { %> selected="selected"<% } %>>Salt Marsh</option>
                </select>
              </div>
            </div>

            <div class="control-group density">
              <label class="control-label" for="density">Density of habitat</label>
              <div class="controls">
                <input class="span3" type="number" name="density" id="density" value="<%= validation.density %>">
              </div>
            </div>

            <div class="control-group age">
              <label class="control-label" for="age">Age of habitat</label>
              <div class="controls">
                <input class="span3" type="number" name="age" id="age" value="<%= validation.age %>">
              </div>
            </div>

            <div class="control-group name">
              <label class="control-label" for="name">Name your edit</label>
              <div class="controls">
                <input class="span3" type="text" name="name" id="name" value="<%= validation.name %>">
              </div>
            </div>
          </div>

          <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Create Validation" />
            <a href="#/index" class="btn"><i class="icon-list-alt"></i> Back</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <p>&copy; UNEP-WCMC 2012</p>
    </div>
  </div>
</footer>
