<div id="map"></div>

<div id="sidebar" class="shadow">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h5>Edit habitat area</h5>

        <form id="new-validation" name="validation">
          <div class="form-inputs">
            <div class="control-group hidden">
              <div class="controls">
                <input class="hidden" type="hidden" name="coordinates" id="coordinates" value="<%= validation.coordinates %>">
              </div>
            </div>

            <div class="control-group hidden">
              <div class="controls">
                <input class="hidden" type="hidden" name="action" id="action" value="<%= validation.action %>">
              </div>
            </div>

            <div id="draw-a-polygon" class="control-group">
              <button type="button" class="btn btn-primary" data-toggle="button">Draw a polygon</button>
            </div>

            <div id="habitat-and-action" class="hidden">
              <div class="control-group habitat">
                <div class="controls">
                  <select class="span12" name="habitat" id="habitat">
                    <option value="">Habitat</option>
                    <option value="mangrove"<% if("mangrove" == validation.habitat) { %> selected="selected"<% } %>>Mangrove</option>
                    <option value="seagrass"<% if("seagrass" == validation.habitat) { %> selected="selected"<% } %>>Seagrass</option>
                    <option value="sabkha"<% if("sabkha" == validation.habitat) { %> selected="selected"<% } %>>Sabkha</option>
                    <option value="salt_marsh"<% if("salt_marsh" == validation.habitat) { %> selected="selected"<% } %>>Salt Marsh</option>
                  </select>
                </div>
              </div>

              <div id="control-group-action" class="control-group btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary" data-action="validate">Confirm</button>
                <button type="button" class="btn btn-primary" data-action="add">Add</button>
                <button type="button" class="btn btn-primary" data-action="delete">Delete</button>
              </div>
            </div>

            <div id="other-fields" class="hidden">
              <div class="control-group area_id">
                <label class="control-label" for="area_id">Area</label>
                <div class="controls">
                  <select class="span12" name="area_id" id="area_id">
                    <option value=""></option>
                    <% for(var i = 0; i < areas.length; i++) { %>
                      <option value="<%= areas.at(i).id %>"<% if(areas.at(i).id == validation.area_id) { %> selected="selected"<% } %>><%= areas.at(i).get('title') %></option>
                    <% } %>
                  </select>
                </div>
              </div>

              <div class="control-group recorded_at">
                <label class="control-label" for="recorded_at">Recorded at</label>
                <div class="controls row-fluid">
                  <div class="span4">
                    <input class="span12" type="number" name="recorded_at(1i)" value="2012">
                  </div>
                  <div class="span4">
                    <input class="span12" type="number" name="recorded_at(2i)" value="12">
                  </div>
                  <div class="span4">
                    <input class="span12" type="number" name="recorded_at(3i)" value="12">
                  </div>
                </div>
              </div>

              <div class="control-group knowledge">
                <label class="control-label" for="knowledge">Validation evidence type</label>
                <div class="controls">
                  <select class="span12" name="knowledge" id="knowledge">
                    <option value=""></option>
                    <option value="local_data"<% if("local_data" == validation.knowledge) { %> selected="selected"<% } %>>Local data</option>
                  </select>
                </div>
              </div>

              <div class="control-group density">
                <label class="control-label" for="density">Density of habitat</label>
                <div class="controls">
                  <input class="span12" type="number" name="density" id="density" value="<%= validation.density %>">
                </div>
              </div>

              <div class="control-group age">
                <label class="control-label" for="age">Age of habitat</label>
                <div class="controls">
                  <input class="span12" type="number" name="age" id="age" value="<%= validation.age %>">
                </div>
              </div>

              <div class="control-group name">
                <label class="control-label" for="notes">Notes</label>
                <div class="controls">
                  <textarea class="span12" type="text" name="notes" id="notes"><%= validation.name %></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions hidden">
            <input class="btn btn-primary" type="submit" value="Create Validation" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <p>&copy; UNEP-WCMC 2012</p>
    </div>
  </div>
</footer>
