<div id="map"></div>

<div id="sidebar" class="shadow">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h5>Edit habitat area</h5>

        <form id="new-validation" name="validation">
          <div class="form-inputs">
            <div class="control-group hidden">
              <div class="controls">
                <input class="hidden" type="hidden" name="coordinates" id="coordinates" value="<%= validation.coordinates %>">
              </div>
            </div>

            <div class="control-group hidden">
              <div class="controls">
                <input class="hidden" type="hidden" name="action" id="action" value="<%= validation.action %>">
              </div>
            </div>

            <div id="draw-a-polygon" class="control-group">
              <button type="button" class="btn btn-primary" data-toggle="button">Draw a polygon</button>
            </div>

            <div id="habitat-and-action" class="hidden">
              <div class="control-group habitat">
                <div class="controls">
                  <select class="span12" name="habitat" id="habitat">
                    <option value="">Habitat</option>
                    <option value="mangrove"<% if("mangrove" == validation.habitat) { %> selected="selected"<% } %>>Mangrove</option>
                    <option value="seagrass"<% if("seagrass" == validation.habitat) { %> selected="selected"<% } %>>Seagrass</option>
                    <option value="sabkha"<% if("sabkha" == validation.habitat) { %> selected="selected"<% } %>>Sabkha</option>
                    <option value="salt_marsh"<% if("salt_marsh" == validation.habitat) { %> selected="selected"<% } %>>Salt Marsh</option>
                  </select>
                </div>
              </div>

              <div id="control-group-action" class="control-group btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary" data-action="validate">Confirm</button>
                <button type="button" class="btn btn-primary" data-action="add">Add</button>
                <button type="button" class="btn btn-primary" data-action="delete">Delete</button>
              </div>
            </div>

            <div id="other-fields" class="hidden">
              <div class="control-group density hidden show-with-mangrove show-with-seagrass show-with-salt_marsh">
                <label class="control-label" for="density">Density of habitat</label>
                <div class="controls">
                  <select class="span12" name="density" id="density">
                    <option value="">Unknown</option>
                    <option value="1"<% if(1 == validation.density) { %> selected="selected"<% } %>>Sparse (<20% cover)</option>
                    <option value="2"<% if(2 == validation.density) { %> selected="selected"<% } %>>Moderate (20-50% cover)</option>
                    <option value="3"<% if(3 == validation.density) { %> selected="selected"<% } %>>Dense (50-80% cover)</option>
                    <option value="4"<% if(4 == validation.density) { %> selected="selected"<% } %>>Very dense (>80% cover)</option>
                  </select>
                </div>
              </div>

              <div class="control-group condition hidden show-with-mangrove">
                <label class="control-label" for="condition">Condition</label>
                <div class="controls">
                  <select class="span12" name="condition" id="condition">
                    <option value="1"<% if(1 == validation.condition) { %> selected="selected"<% } %>>Undisturbed / Intact</option>
                    <option value="2"<% if(2 == validation.condition) { %> selected="selected"<% } %>>Degraded</option>
                    <option value="3"<% if(3 == validation.condition) { %> selected="selected"<% } %>>Restored / Rehabilitating</option>
                    <option value="4"<% if(4 == validation.condition) { %> selected="selected"<% } %>>Afforested/ Created</option>
                    <option value="5"<% if(5 == validation.condition) { %> selected="selected"<% } %>>Cleared</option>
                  </select>
                </div>
              </div>

              <div class="control-group age hidden show-with-mangrove">
                <label class="control-label" for="age">Age of habitat</label>
                <div class="controls">
                  <select class="span12" name="age" id="age">
                    <option value="">Unknown</option>
                    <option value="1"<% if(1 == validation.age) { %> selected="selected"<% } %>>Natural Mangrove</option>
                    <option value="2"<% if(2 == validation.age) { %> selected="selected"<% } %>>2-10 yrs old</option>
                    <option value="3"<% if(3 == validation.age) { %> selected="selected"<% } %>>10-25 yrs old</option>
                    <option value="4"<% if(4 == validation.age) { %> selected="selected"<% } %>>25-50 yrs old</option>
                  </select>
                </div>
              </div>

              <div class="control-group species hidden show-with-seagrass">
                <label class="control-label" for="species">Species</label>
                <div class="controls">
                  <select class="span12" name="species" id="species">
                    <option value="">Unknown</option>
                    <option value="Halodule uninervis"<% if("Halodule uninervis" == validation.species) { %> selected="selected"<% } %>>Halodule uninervis</option>
                    <option value="Halophila ovalis"<% if("Halophila ovalis" == validation.species) { %> selected="selected"<% } %>>Halophila ovalis</option>
                    <option value="Halophila stipulacea"<% if("Halophila stipulacea" == validation.species) { %> selected="selected"<% } %>>Halophila stipulacea</option>
                    <option value="Mixed species"><% if("Mixed species" == validation.species) { %> selected="selected"<% } %>Mixed species</option>
                  </select>
                </div>
              </div>

              <div class="control-group recorded_at">
                <label class="control-label" for="recorded_at">Recorded at</label>
                <div class="controls row-fluid">
                  <div class="span2">
                    <input class="span12" type="number" min="1" max="31" name="recorded_at(3i)" value="<%= validation["recorded_at(3i)"] %>">
                  </div>
                  <div class="span2">
                    <input class="span12" type="number" min="1" max="12" name="recorded_at(2i)" value="<%= validation["recorded_at(2i)"] %>">
                  </div>
                  <div class="span3">
                    <input class="span12" type="number" min="1970" max="2050" name="recorded_at(1i)" value="<%= validation["recorded_at(1i)"] %>">
                  </div>
                  <div class="span1">&nbsp;</div>
                  <div class="span2">
                    <input class="span12" type="number" min="0" max="23" name="recorded_at(4i)" value="<%= validation["recorded_at(4i)"] %>">
                  </div>
                  <div class="span2">
                    <input class="span12" type="number" min="0" max="59" name="recorded_at(5i)" value="<%= validation["recorded_at(5i)"] %>">
                  </div>
                </div>
              </div>

              <div class="control-group name">
                <label class="control-label" for="notes">Notes</label>
                <div class="controls">
                  <textarea class="span12" type="text" name="notes" id="notes"><%= validation.name %></textarea>
                </div>
              </div>
            </div>

            <table id="photos-table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>
                    <div class="button-wrapper"><a href="#" id="upload-photo" class="btn">Upload</a></div>
                  </th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <input class="btn btn-primary width-100-percent submit-button hidden" type="submit" value="Save Validation" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <p>&copy; UNEP-WCMC 2012</p>
    </div>
  </div>
</footer>
