<div id="map"></div>

<div id="sidebar" class="shadow">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <a href="#/index" class="btn"><i class="icon-list-alt"></i> Back</a>
          <a href="#/<%= id %>/edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
          <h1>Validation</h1>
        </div>

        <dl>
          <dt>Coordinates:</dt>
          <dd><%= coordinates %></dd>
        </dl>

        <dl>
          <dt>Action:</dt>
          <dd><%= action %></dd>
        </dl>

        <dl>
          <dt>Area:</dt>
          <dd><%= area_id %></dd>
        </dl>

        <dl>
          <dt>Recorded at:</dt>
          <dd><%= recorded_at %></dd>
        </dl>

        <dl>
          <dt>Knowledge:</dt>
          <dd><%= knowledge %></dd>
        </dl>

        <dl>
          <dt>Habitat:</dt>
          <dd><%= habitat %></dd>
        </dl>

        <dl>
          <dt>Density:</dt>
          <dd><%= density %></dd>
        </dl>

        <dl>
          <dt>Age:</dt>
          <dd><%= age %></dd>
        </dl>

        <dl>
          <dt>Name:</dt>
          <dd><%= name %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
