<div id="map"></div>

<div id="sidebar" class="shadow">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h5>Habitat area</h5>

        <a id="edit-validation" href="#/<%= validation.id %>/edit" class="btn btn-primary">Edit</a>

        <dl>
          <dt>Action:</dt>
          <dd><%= validation.action.charAt(0).toUpperCase() + validation.action.slice(1) %></dd>
        </dl>

        <dl>
          <dt>Habitat:</dt>
          <dd><%= validation.habitat.replace(/_/g, ' ').replace(/(\w+)/g, function(match) {return match.charAt(0).toUpperCase() + match.slice(1)}) %></dd>
        </dl>

        <% if(validation.action !== 'delete') { %>
          <dl>
            <dt>Field Site:</dt>
            <dd><%= validation.area_id && areas.get(validation.area_id).get('title') || '-' %></dd>
          </dl>

          <% if(validation.habitat === 'mangrove' || validation.habitat === 'seagrass' || validation.habitat === 'salt_marsh') { %>
            <dl>
              <dt>Density:</dt>
              <dd><%= (validation.density == '' || validation.density === null && 'Unknown') || {1: "Sparse (&lt;20% cover)", 2: "Moderate (20-50% cover)", 3: "Dense (50-80% cover)", 4: "Very dense (&gt;80% cover)"}[validation.density] %></dd>
            </dl>
          <% } %>

          <% if(validation.habitat === 'mangrove') { %>
            <dl>
              <dt>Condition:</dt>
              <dd><%= {1: "Undisturbed / Intact", 2: "Degraded", 3: "Restored / Rehabilitating", 4: "Afforested/ Created", 5: "Cleared"}[validation.condition] %></dd>
            </dl>
          <% } %>

          <% if(validation.habitat === 'mangrove') { %>
            <dl>
              <dt>Age:</dt>
              <dd><%= (validation.age == '' || validation.age === null && 'Unknown') || {1: "Natural Mangrove", 2: "2-10 yrs old", 3: "10-25 yrs old", 4: "25-50 yrs old"}[validation.age] %></dd>
            </dl>
          <% } %>

          <dl>
            <dt>Recorded at:</dt>
            <dd><%= validation.recorded_at %></dd>
          </dl>

          <dl>
            <dt>Notes:</dt>
            <dd><%= validation.notes || '-' %></dd>
          </dl>
        <% } %>

        <ul class="thumbnails">
          <% for(var i=0; i < validation.photos.length; i++) { %>
            <li class="span6">
              <a target="_blank" href="<%= validation.photos[i].attachment_url %>" class="thumbnail">
                <img src="<%= validation.photos[i].thumbnail_url %>" />
              </a>
            </li>
          <% } %>
        </ul>

        <a id="new-nearby-validation" href="#/new" class="btn btn-primary"><i class="icon-plus icon-white"></i> New Nearby Validation</a>
      </div>
    </div>
  </div>
</div>

<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <p>&copy; UNEP-WCMC 2012</p>
    </div>
  </div>
</footer>
