<td><%= coordinates %></td>
<td><%= action %></td>
<td><%= recorded_at %></td>
<td><%= area_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Delete</a></td>
