<td><%= coordinates %></td>
<td><%= action %></td>
<td><%= area_id %></td>
<td><%= recorded_at %></td>
<td><%= knowledge %></td>
<td><%= habitat %></td>
<td><%= density %></td>
<td><%= age %></td>
<td><%= name %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>