<td><%= recorded_at %></td>
<td><%= action %></td>
<td><%= knowledge %></td>
<td><%= habitat %></td>

<td><a href="#/<%= id %>">View</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Delete</a></td>
