<%= simple_form_for(@user, defaults: { input_html: { class: 'span8' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form__inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>

    <% if current_user.super_admin? && current_user != @user %>
      <%= f.association :countries, required: true %>
    <% end %>

    <%= f.association :roles, as: :check_boxes, collection: Role.accessible_by(current_ability), label: false, label_method: -> (role) {
          "#{role.name.humanize.capitalize}<br> <span class='description'>#{role.description}</span>".html_safe
        }, input_html: { class: nil, disabled: (@user == current_user) } %>
  </div>

  <div class="form__actions">
    <input type="submit" class="button" value="Save User">
  </div>
<% end %>
