<div class="admin">
  <div class="admin__header">
    <h1 class="admin__title">Listing users</h1>
    <div class="admin__header-right">
      <%= link_to new_user_path, :class => 'button admin__header-element' do %>
        <i class="icon-plus icon-white"></i>
        New User
      <% end %>
    </div>
  </div>

  <% if @users.any? %>
    <div class="table__container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %></td>
          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <h2 class="admin__no-results">There are no users yet</h2>
  <% end %>
</div>
