<%= simple_form_for(@area, :defaults => { :input_html => { :class => 'span12' } }) do |f| %>

  <%= f.error_notification %>

  <% unless @area.errors['coordinates'].empty? %>
    <div class="alert alert-error">
      A polygon must be drawn on to the map to define an field site.
    </div>
  <% end %>

  <div class="form__inputs">
    <%= f.input :title %>
    <%= f.input :coordinates, as: :hidden %>
    <%= f.input :country_id, as: :hidden %>
  </div>

  <div class="form__actions">
    <input type="submit" class="button" value="Create field site">
  </div>
<% end %>
