<%= content_for :title, "Field sites" %>

<div class="admin">
  <div class="admin__header">
    <h1>Field Sites</h1>

    <div class="admin__header-right">
      <% if current_user.super_admin? %>
        <%= render 'shared/country_filter', path: :areas_path %>
      <% end %>
      <% if can? :manage, Area %>
        <%= link_to new_area_path, class: "button admin__header-element" do %>
          <i class="icon-plus icon-white"></i>
          New Field Site
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @areas.any? %>
    <div class="table__container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <% if current_user.super_admin? %><th>Country</th><% end %>
            <% if can? :manage, Area %><th></th><% end %>
          </tr>
        </thead>

        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <td><%= link_to area.title, area %></td>
              <% if current_user.super_admin? %><td><%= area.country.name %></td><% end %>

              <% if can? :manage, Area %>
                <td><%= link_to 'Delete', area_path(area), method: :delete, data: {confirm: "Are you sure you want to delete this field site?"} %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <h2 class="admin__no-results">There are no field sites yet</h2>
  <% end %>
</div>
