<%= content_for :title, "New field site" %>

<div class="admin areas">

  <div class="map__container">
    <div data-country-bounds="<%= @current_country.bounds.reverse.to_json %>" data-country-id="<%= @current_country.id %>" data-country-iso="<%= @current_country.iso %>" id="map"></div>

    <div class="map__disclaimer">
      <%= t('analysis.map_disclaimer') %>
    </div>
  </div>

  <div id="sidebar">
    <%= render 'form' %>

    <%= render 'shared/methodology_link_paragraph' %>
  </div>
</div>
