<%= content_for :title, "New field site" %>

<div class="admin areas">

  <div data-country-bounds="<%= @current_country.bounds.reverse.to_json %>" data-country-id="<%= @current_country.id %>" data-country-iso="<%= @current_country.iso %>" id="map"></div>

  <div id="sidebar">
    <%= render 'form' %>
  </div>
</div>
