<div class="page-header">
  <%= link_to areas_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_area_path(@area), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing areas</h1>
</div>

<dl>
  <dt>Title:</dt>
  <dd><%= @area.title %></dd>

  <dt>Coordinates:</dt>
  <dd><%= @area.coordinates %></dd>
</dl>

<%= javascript_tag "window.areaCoordinates = #{@area.coordinates}" %>
<div id="map" style="height: 380px;"></div>

<h2>MBTiles</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Habitat</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% Habitat.all.each do |habitat| %>
    <tr>
      <td><%= habitat.name %></td>
      <td><%= link_to 'Download', area_download_mbtile_path(@area, habitat) %></td>
    </tr>
<% end %>
  </tbody>
</table>
