<div class="static">
  <%= javascript_tag "window.areaCoordinates = #{@area.coordinates}" %>
  <div id="map"></div>

  <div id="sidebar" class="shadow">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h5>Area</h5>

          <dl>
            <dt>Title:</dt>
            <dd><%= @area.title %></dd>
          </dl>

          <h2>MBTiles</h2>

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Habitat</th>
                <th>Last generation started at</th>
                <th>Last generated at</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
          <% @mbtiles.each do |mbtile| %>
              <tr>
                <td><%= mbtile.habitat.humanize %></td>
                <td><%= mbtile.last_generation_started_at %></td>
                <td><%= mbtile.last_generated_at %></td>
                <td><%= mbtile.status %></td>
                <td><%= link_to_if mbtile.completed?, 'Download', area_mbtile_path(@area, mbtile.habitat) %></td>
              </tr>
          <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container-fluid">
        <p>&copy; UNEP-WCMC 2012</p>
      </div>
    </div>
  </footer>
</div>
