<%= content_for :title, "Show field site" %>

<div class="admin static">
  <%= javascript_tag "window.areaCoordinates = #{@area.coordinates}" %>
  <div data-country-bounds="<%= @current_country.bounds.reverse.to_json %>" data-country-id="<%= @current_country.id %>" data-country-iso="<%= @current_country.iso %>" id="map"></div>

  <div id="sidebar" class="shadow">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1 class="admin__header">Field Site</h1>

          <dl>
            <dt>Title:</dt>
            <dd><%= @area.title %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
