<h2>Log in</h2>

<%= form_tag user_session_path, method: 'POST' do %>
  <%= label_tag(:username, 'Email') %>
  <%= email_field(:user, :email) %>

  <%= label_tag(:password, 'Password') %>
  <%= password_field(:user, :password) %>

  <% if @current_country %>
    <%= hidden_field(:user, :country_id, value: @current_country.id) %>
  <% else %>
    <%= label_tag(:country_id, 'Country') %>
    <%= select(:user, :country_id, Country.pluck(:name, :id)) %>
  <% end %>

  <%= submit_tag("Log in") %>
<% end %>
