<% if user_signed_in? %>
  <div class="header__right">
    <%= selected_link_to 'Validations', validations_path, class: "header__element" %>
    <%= selected_link_to 'Users', users_path, class: "header__element" %>
    <%= selected_link_to 'Field Sites', areas_path, class: "header__element" %>
    <a href="http://blueforests.wcmc.happyfox.com/kb/" class="support-centre header__element"><i class="fa fa-info-circle"></i> Support Centre</a>

    <span class="dropdown">
      <% if @current_country %>
        <button class="header__element" data-toggle-trigger="country-select">
          <%= country_flag @current_country, current_user.email.truncate(20) %>
        </button>
      <% end %>
      <div class="dropdown__target dropdown__target--navigation u-hide" data-toggle-target="country-select">
        <% if current_user.super_admin? %>
          <% Country.order(:name).pluck(:subdomain, :name).each do |subdomain, name| %>
            <% if @current_country && (name == @current_country.name) %>
              <div class="dropdown__item dropdown__item--nested"><i class="fa fa-chevron-right"></i>  <%= name.titleize %></div>
            <% else %>
              <%= link_to name, url_for(only_path: false, subdomain: Subdomainer.resolve(subdomain), controller: params[:controller], action: params[:action]), class: "dropdown__item" %>
            <% end %>
          <% end %>

        <hr>
        <% end %>

        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown__item" %>
      </div>
    </span>
  </div>
<% else %>
  <div class="header__right pull-right navigation-links">
    <a class="header__element tool-button" href="<%= tool_path %>"><%= t('tool') %></a>
    <a class="header__element" href="<%= methodology_path %>"><%= t('methodology') %></a>
    <a class="header__element" href="<%= help_path %>"><%= t('help') %></a>
    <% if @current_country %>
      <span class="dropdown">
        <button class="header__element header__element--dropdown" data-toggle-trigger="country-select">
          <%= country_flag @current_country %>
        </button>
        <div class="dropdown__target dropdown__target--navigation u-hide" data-toggle-target="country-select">
          <% Country.order(:name).pluck(:subdomain, :name).each do |subdomain, name| %>
            <%= link_to name, url_for(only_path: false, subdomain: Subdomainer.resolve(subdomain), controller: params[:controller], action: params[:action]), class: "dropdown__item #{name == @current_country.name ? 'dropdown__item--selected' : '' }" %>
          <% end %>
        </div>
      </span>
    <% end %>
    <span class="header__element">
      <button class="login-button" data-login-path="<%= new_user_session_path %>">Log in</button>
    </span>
    <!--a href="http://blueforests.wcmc.happyfox.com/kb/" class="support-centre header__element"><i class="fa fa-info-circle"></i> Support Centre</a-->
  </div>
<% end %>
