<% if user_signed_in? %>
  <div class="header__right">
    <%= selected_link_to 'Validations', validations_path, class: "header__element" %>
    <%= selected_link_to 'Users', users_path, class: "header__element" %>
    <%= selected_link_to 'Field Sites', areas_path, class: "header__element" %>
    <%= link_to current_user.email.truncate(20), destroy_user_session_path, method: :delete, class: "header__element" %>
  </div>
<% else %>
  <div class="pull-right navigation-links">
    <a class="header__element" href="<%= tool_path %>">Tool</a>
    <a class="header__element" href="">Help</a>
    <a class="header__element" href="">About</a>
    <span class="header__element">
      <button class="login-button" data-login-path="<%= new_user_session_path %>">Log in</button>
    </span>
  </div>
<% end %>
