<% if user_signed_in? %>
  <ul class="pull-right navigation-links">
    <li><%= link_to 'Validations',                   validations_path %></li>
    <li><%= link_to 'Users',                         users_path %></li>
    <li><%= link_to 'Ipad Admin',                    areas_path %></li>
    <li><%= link_to current_user.email.truncate(20), destroy_user_session_path, method: :delete %></li>
  </ul>
<% else %>
  <ul class="pull-right navigation-links">
    <li><a href="<%= tool_path %>">Tool</a></li>
    <li>Help</li>
    <li>About</li>
    <li><button data-login-path="<%= new_user_session_path %>" class="login-button">Log in</button></li>
  </ul>
<% end %>
