<% if admin_signed_in? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate("#{current_admin.email}", :length => 22, :omission => '...') %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Admin", validations_path %></li>
      <li><%= link_to "My Account", edit_admin_path(current_admin) %></li>
      <li class="divider"></li>
      <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
    </ul>
  </li>
<% else %>
  <%= link_to 'Sign In', new_admin_session_path %>
<% end %>
