<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BlueCarbon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "leaflet.ie.css" %>
    <%= stylesheet_link_tag "leaflet.draw.ie.css" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "BlueCarbon", root_path, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <%= content_tag(:li, link_to("Field Sites", areas_path), class: params[:controller] == 'areas' ? 'active' : nil) if can? :read, Area %>
            <%= content_tag(:li, link_to("Validations", validations_path), class: params[:controller] == 'validations' ? 'active' : nil) if can? :read, Validation %>
            <%= content_tag(:li, link_to("Users", admins_path), class: params[:controller] == 'admins' ? 'active' : nil) if can? :manage, Admin %>
          </ul>
          <ul class="nav pull-right">
            <% if admin_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate("#{current_admin.email}") %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My Account", edit_admin_path(current_admin) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Login', new_admin_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
