<!DOCTYPE html>
<%= html_tag :class => "no-js" %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Blue Forests | <%= content_for(:title) %></title>

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= render "stylesheets" %>
    <%= javascript_include_tag "polyfills" %>
    <script>
      window.MAPBOX_API_KEY = '<%= Rails.application.secrets.mapbox_api_key %>'
    </script>

    <%= csrf_meta_tag %>
  </head>

  <body class="<%= controller.controller_name %>" data-environment="<%= Rails.env %>">
    <%= render "header" %>
    <%= render "flashes" %>
    <%= render "modal" %>

    <main>
      <%= yield %>
    </main>

    <%= render "footer" %>

    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>
  </body>
</html>
